{% extends "RollRollBundle::layout.html.twig" %}

{% block content %}
	<h1>Mes parties</h1>
	
	<a href="{{ path('createGame') }}">Créer une partie</a>

	<h3>Parties en cours</h3>

	<h3>Anciennes parties</h3>

{% endblock %}