html {
	background: #DDD;
	margin: 0;
	padding: 0;
}
#menu {
	display: block;
	width: 100%;
	background: rgba(0,0,0,0.7);
	padding: 5px;
	color: white;
	position: absolute;
	top: 0;
	left: 0;
}
#menu a {
	color: white;
	text-decoration: none;
}
#container {
	display: block;
	width: 100%;
	height: 100%;
	margin: 0;
	position: absolute;
	top: 30px;
	left: 0;
	padding: 30px;
	text-align: center;
}
#supcontainer {
	display: inline-block;
	text-align: left;
	width: 90%;
}
#listPlayers {
	display: block;
	position: fixed;
	top: 70px;
	right: 20px;
	width: 200px;
}
#listPlayers table {
	width: 100%;
	border-collapse: collapse;
	border: 0;
	border: 1px solid black;
}
#listPlayers td, #listPlayers th {
	border: 0;
	background: rgba(0,0,0,0.1);
	padding: 4px;
}
#listPlayers th {
	background: rgba(0,0,0,0.2);
	text-align: center;
}
#listPlayers .active {
	background: rgba(255,255,0,0.3);
	font-weight: bold;
}

















