{% extends "RollRollBundle::layout.html.twig" %}
{% block content %}
	<p>
		Bienvenue dans <strong>RollingDice</strong> !<br />
		<a href="{{ path('login') }}">Connectez-vous</a> ou <a href="{{ path('register') }}">inscrivez-vous</a> pour jouer !
	</p>
{% endblock %}