{% extends "RollRollBundle::layout.html.twig" %}
{% block content %}
<script type="text/javascript" src="{{ asset('/js/dice.js') }}"></script>
<script type="text/javascript" src="{{ asset('/js/modele.js') }}"></script>
	
<div>
	<div id="orange"></div>
	<div id="jaune"></div>
	<div id="violet"> </div>
	<div id="grisClair"></div>
	<div id="grisFonce"></div>
  
	<div class="dice" id="d1" onclick="d1.select();"> </div>
	<div class="dice" id="d2" onclick="d2.select();"> </div>
	<div class="dice" id="d3" onclick="d3.select();"> </div>
	<br /><a href="#" onclick="rollDices();">Lancer</a>
</div>
<script type="text/javascript">
	var game = new rollroll.Game();
	var s = "", pid = {{ grid.getId() }};
	val = 0;
	/*for(var p = 0, d = ['orange','jaune','violet'], s = ""; p < 3; p++) {
		s = "";
		for(var i = 0, j = 0; i < 10; i++) {
			if(i == 3) {
				s += '<div class="vide">&nbsp;</div>';
			} else if(i == 1 || i == 5){
				s += '<div class="pentagon" onclik="game.chooseCase('+j+','+p+');"><span>'+game.getCase(p,j++)+'</span></div>';
			} else {
				s += '<div class="rond" onclik="game.chooseCase('+j+','+p+');"><span>'+game.getCase(p,j++)+'</span></div>';
			}
		}
		document.getElementById(d[p]).innerHTML = s;
	}*/
	
	for(var i=0, j=0; i<10; i++){
	  if(i == 3) {
	    s += '<div class="vide">&nbsp;</div>';
	  }else if(i == 1 || i == 5){
	    s += '<div class="pentagon" id="o'+j+'" onclick="placeDices(0,'+j+');"><span>'+game.getCase(0,j++)+'</span></div>';
	  } else {
	    s += '<div class="rond" id="o'+j+'" onclick="placeDices(0,'+j+');"><span>'+game.getCase(0,j++)+'</span></div>';
	  }
	}
	document.getElementById('orange').innerHTML = s;
	s = "";
	
	for(var i=0, j=0; i<10; i++){
	  if(i == 5) {
	    s += '<div class="vide">&nbsp;</div>';
	  }else if(i == 7){
	    s += '<div class="pentagon" id="j'+j+'" onclick="placeDices(1,'+j+');"><span>'+game.getCase(1,j++)+'</span></div>';
	  } else {
	    s += '<div class="rond" id="j'+j+'" onclick="placeDices(1,'+j+');"><span>'+game.getCase(1,j++)+'</span></div>';
	  }
	}
	document.getElementById('jaune').innerHTML = s;
	s = "";
	
	for(var i=0, j=0; i<10; i++){
	  if(i == 4) {
	    s += '<div class="vide">&nbsp;</div>';
	  }else if(i == 2 || i == 9){
	    s += '<div class="pentagon" id="v'+j+'" onclick="placeDices(2,'+j+');"><span>'+game.getCase(2,j++)+'</span></div>';
	  } else {
	    s += '<div class="rond" id="v'+j+'" onclick="placeDices(2,'+j+');"><span>'+game.getCase(2,j++)+'</span></div>';
	  }
	}
	document.getElementById('violet').innerHTML = s;
	s = "";

	var s = '<div class="premierCarre"><span>'+'X'+'</span></div>';
	for(var i = 1; i < 4; i++) {
		s += '<div class="carre"><span>'+'X'+'</span></div>';
	}
	document.getElementById('grisClair').innerHTML = s;
	  

	var s = [
		'<div class="carreOrange"><span>',game.colorsScore[0],'</span></div>',
		'<div class="carreJaune"><span>',game.colorsScore[1],'</span></div>',
		'<div class="carreViolet"><span>',game.colorsScore[2],'</span></div> + '
	].join('');

	for(var i = 0; i < 5; i++) {
		s += '<div class="pentagon"><span>'+game.pentagonScore[i]+'</span></div>';
	}
	s += '- <div class="carre"><span>'+game.missed*5+'</span></div> = <div class="rectangle"><span>'+game.totalScore+'</span></div>';
	document.getElementById('grisFonce').innerHTML = s;

	var d1 = new rollroll.Dice('d1',1,'orange'),
		d2 = new rollroll.Dice('d2',2,'yellow'),
		d3 = new rollroll.Dice('d3',3,'#551A8B');

	var rollDices = function() {
		if(!d1.selected && !d2.selected && !d3.selected){
		  alert('Aucun dés séléctionné!');
		  return;
		}
		if(game.isRolling){
		  alert('Les dés sont déja lancé!');
		  return;
		}
		game.isRolling=true;
		//Lancement de l'animation des dés
		window.diceInt = setInterval(function(d1,d2,d3){
			d1.selected && d1.set();
			d2.selected && d2.set();
			d3.selected && d3.set();
		},200,d1,d2,d3);

		//Envoi d'une requête pour demander 3 dés
		var xhr = new XMLHttpRequest();
		
		xhr.open('POST', "/xhr/"+pid+"/gendices/"+(d1.selected?'y':'n')+"/"+(d2.selected?'y':'n')+"/"+(d3.selected?'y':'n'), true);
		xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
		xhr.onload = function (e) {
			clearInterval(window.diceInt);
			var xt = xhr.responseText.split('/');
			if(xt.length !== 3) {
			    alert(xhr.responseText);
			}
			d1.selected && d1.set(parseInt(xt[0]));
			d2.selected && d2.set(parseInt(xt[1]));
			d3.selected && d3.set(parseInt(xt[2]));
			val=0;
			alert(parseInt(xt[0]));
			alert(val);
			if(d1.selected){
			  val=val+parseInt(xt[0]);
			}
			if(d2.selected){
			  val=val+parseInt(xt[1]);
			}
			if(d3.selected){
			  val=val+parseInt(xt[2]);
			}
		};
		xhr.send(null); //on enverra les données de la partie (l'id de la grille par ex) ici
		
	}
	
	var placeDices = function( c, p){
	    if(!game.isRolling){
	      alert('Vous devez lancer les dés');
	      return
	    }
	    var xhr = new XMLHttpRequest();
		xhr.open('POST', "/xhr/"+pid+"/placeDices", true);
		xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
		xhr.onload = function (e) {
		    var xt = xhr.responseText;
		    if(xt=="ok"){
		      game.isRolling=false;
		      game.setCase(c,p,val);
		    }else{
		      alert(xt);
		    }
		};
		xhr.send('couleur='+c+'&position='+p); 
	}
	
	
	</script>
{% endblock %}
