{% extends "RollRollBundle::layout.html.twig" %}

{% block content %}
    <style type="text/css">
      #orange, #jaune, #violet {
	display: block;
	width: 600px;
	margin: 10px;
	padding: 2px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
      }
      #orange {
	background-color: orange;
	position: relative;
	left: 120px;
      }
      #jaune {
	background-color: yellow;
	position: relative;
	left: 60px;
      }
      #violet {
	background-color: #551A8B;
      }
      
      #grisClair, #grisFonce{
	display: block;
	width: 720px;
	padding: 2px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
      }
      
      #grisClair{
	margin-top: 50px;
	background-color: #E2E2E2;
      }
      
      #grisFonce{
	background-color: #A4A4A4;
      }
      
      .rond, .pentagon, .vide, .carre, .premierCarre, .carreOrange, .carreJaune, .carreViolet, .rectangle{
	display:inline-block;
	width:50px; 
	height:50px;
	text-align: center;
	font-size: 25px;
	margin: 3px;
      
      }
      
      .rond span, .pentagon span, .carre span, .premierCarre span, .carreOrange span, .carreJaune span, .carreViolet span, .rectangle span{
	position: relative;
	top: 10px;
      }
      
      .rond{
	background:white;
	border-radius:50%;
	border:2px solid black; 
      }
      
      .pentagon {
	background: url("pentagone.png");
      }
      
      .carre, .premierCarre, .carreOrange, .carreJaune, .carreViolet, .rectangle{
	background:white;
	border-radius:10%;
	border:2px solid black; 
      }
     
      .premierCarre{
	margin-left: 200px;
      }
      .carreOrange, .carreJaune, .carreViolet{
	margin: 10px;
      }
      .carreOrange{
	border:2px solid orange; 
      }
      .carreJaune{
	border:2px solid yellow; 
      }
      .carreViolet{
	border:2px solid #551A8B; 
      }
      
      .rectangle{
	width: 100px;
      }
      
      
      
    </style>
    <div>
    
      <div id="orange"></div>
      <script>
      var s = "";
      for(var i=0; i<10; i++){
	if(i==3){
	  s += '<div class="vide">&nbsp;</div>';
	}else if(i==1 || i==5){
	  s += '<div class="pentagon"><span>'+i+'</span></div>';
	}else{
	  s += '<div class="rond"><span>'+i+'</span></div>';
	}
      }
      document.getElementById('orange').innerHTML = s;
      </script>
      
      <div id="jaune"> </div>
      <script>
      var s = "";
      for(var i=0; i<10; i++){
	if(i==5){
	  s += '<div class="vide">&nbsp;</div>';
	}else if(i==7){
	  s += '<div class="pentagon"><span>'+i+'</span></div>';
	}else{
	  s += '<div class="rond"><span>'+i+'</span></div>';
	}
      }
      document.getElementById('jaune').innerHTML = s;
      </script>
      
      <div id="violet"> </div>
      <script>
      var s = "";
      for(var i=0; i<10; i++){
	if(i==4){
	  s += '<div class="vide">&nbsp;</div>';
	}else if(i==2 || i==9){
	  s += '<div class="pentagon"><span>'+i+'</span></div>';
	}else{
	  s += '<div class="rond"><span>'+i+'</span></div>';
	}
      }
      document.getElementById('violet').innerHTML = s;
      </script>
      
      <div id="grisClair"></div>
      <script>
      var s= "";
      s += '<div class="premierCarre"><span>'+'X'+'</span></div>';
      for(var i=1; i<4; i++){
	s += '<div class="carre"><span>'+'X'+'</span></div>';
      }
      document.getElementById('grisClair').innerHTML = s;
      </script>
      
      <div id="grisFonce"></div>
      <script>
      var s= "";
      s += '<div class="carreOrange"><span>'+'X'+'</span></div>';
      s += '<div class="carreJaune"><span>'+'X'+'</span></div>';
      s += '<div class="carreViolet"><span>'+'X'+'</span></div>';  
      s += '+';
      for(var i=0; i<5; i++){
	s += '<div class="pentagon"><span>'+'X'+'</span></div>';
      }
      s += '-';
      s += '<div class="carre"><span>'+'X'+'</span></div>';
      s += '=';
      s += '<div class="rectangle"><span>'+'X'+'</span></div>';
      document.getElementById('grisFonce').innerHTML = s;
      </script>
{% endblock %}